<% include layout/header.ejs %> 
    <ul>
        <% posts.forEach(function(post){ %>
          <li>
              <%= post.title %>
              <%= post.body %>
          </li>
        <% }); %>
      </ul>
    <br>
    <a href="/create">create</a>
<% include layout/footer.ejs %> 
