<% include layout/header.ejs %> 
<div class="main">
    <div class="container">
      <div class="content">
        <div class="post">
          <div class="top">
            <h2>Заголовок поста</h2>
          </div>
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda tenetur quibusdam in possimus quidem, minus rerum repellendus eius fuga dolorem iusto fugiat eum voluptas veniam ex! Vitae, earum. Expedita corporis ut alias, soluta hic accusantium explicabo quae accusamus fuga eligendi?
            </p>
          </div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/">DaffyDuck</a>
            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
        <div class="post">
          <div class="top">
            <h2>Заголовок поста</h2>
          </div>
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vero aut odio distinctio rem praesentium corporis perferendis similique atque ducimus aliquam ea, voluptate eveniet voluptatibus temporibus fugit saepe alias eum!
            </p>
          </div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/">DaffyDuck</a>
            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
      </div>
      <% include layout/sidebar.ejs %> 
    </div>
  </div>
<% include layout/footer.ejs %> 
