    <footer class="footer">
      <div class="container">
        footer
      </div>
    </footer>

    <script src="/script/jquery.min.js"></script>
    <script src="<%= assetFingerprint('/script/scripts.js') %>"></script>
</body>
</html>